::selection{
  background-color: rgb(183, 0, 255);  
  color: white; 
}
body {
  min-width: 313px;
}
header nav .logo {
    width: 150px;
  }
.navmenu:hover {
    color: #9aff73 !important;
}
.product {
  width:80% ;
  height:auto;
}
th { 
  width: 20%;
  min-width: 160px;
}
table {
  height: 100%;
}
section table th > img {
  width: 25px;
}
section table th > .img{
  height: 35px;
}
aside article .card img {
  width:100% ;
  height:350px;
}
aside article img {
  transition: .8s;
}
aside article:hover img {
  transform: scale(.8);
}